<section class="hero with-pattern py-5 bg-light">
  <div class="container py-5 my-5">
    <div class="row">
      <div class="col-md-7 mx-auto text-center">
        <p class="h6 text-uppercase text-primary">Contact us</p>
        <h1>We’d love to hear from you</h1>
        <p class="text-muted">Feel free to reach out to us for inquiries, appointments, or to learn more about our
          services. We look forward to assisting you on your beauty journey.</p>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT DETAILS SECTION    -->
<section class="pulled-up-section">
  <div class="container text-center">
    <div class="card shadow with-pattern-full">
      <div class="card-body py-5 p-md-5 index-forward">
        <div class="row gy-4">
          <div class="col-md-4">
            <div class="icon-block icon-block-lg mx-auto mb-3">
              <svg class="svg-icon text-primary">
                <use xlink:href="#landline-1"> </use>
              </svg>
            </div>
            <h3 class="h4">Phone</h3>
            <ul class="list-unstyled mb-0">
              <li class="text-muted"><a class="reset-anchor" href="tel:+001234567890">+91 790 5296 531</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="icon-block icon-block-lg mx-auto mb-3">
              <svg class="svg-icon text-primary">
                <use xlink:href="#envelope-1"> </use>
              </svg>
            </div>
            <h3 class="h4">Support</h3>
            <ul class="list-unstyled mb-0">
              <li class="text-muted"><a class="reset-anchor" href="mailto:iso@company.com">info@idealglow.in</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="icon-block icon-block-lg mx-auto mb-3">
              <svg class="svg-icon text-primary">
                <use xlink:href="#pin-1"> </use>
              </svg>
            </div>
            <h3 class="h4">Location</h3>
            <ul class="list-unstyled mb-0 px-5">
              <li class="text-muted"><a class="reset-anchor" href="#!">
                  Futech Gateway Market, Plot No. 10, Sector-75, Noida
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CONTACT FORM SECTION-->
<section class="py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center mb-5">
        <h2>Find Your Way to Ideal Glow</h2>
        <p class="text-muted">Click the "Get Directions" button to easily navigate your path to Ideal Glow.</p><a
          class="btn btn-primary" href="https://goo.gl/maps/Mc29rU8FbgcpCzQv8"><i
            class="fas fa-globe-americas me-2"></i>Get directions</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <form action="https://formsubmit.co/f0a548d52a08a5643f5c549a2bca6dee" method="POST">
          <div class="row gy-3">
            <div class="col-lg-4 col-md-6">
              <!-- Honey Pot -->
              <input type="text" name="_honey" style="display:none">
              <!-- Disable Captcha -->
              <input type="hidden" name="_captcha" value="false">
              <!-- Success Page -->
              <input type="hidden" name="_next" value="https://idealglow.in/success">
              <input class="form-control form-control-lg" type="text" name="name" placeholder="Full name">
            </div>
            <div class="col-lg-4 col-md-6">
              <input class="form-control form-control-lg" type="email" name="email" placeholder="Email address">
            </div>
            <div class="col-lg-4">
              <input class="form-control form-control-lg" type="text" name="subject" placeholder="Subject">
            </div>
            <div class="col-12">
              <textarea class="form-control" rows="5" name="query" placeholder="How can we help you"></textarea>
            </div>
            <div class="col-12 text-md-center mb-0">
              <button class="btn btn-primary" type="submit"> <i class="fas fa-paper-plane me-2"></i>Send
                message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>