<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end" src="assets/img/demo-img-1.jpg" alt="">
                    <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="assets/img/demo-img-2.jpg" alt="" style="margin-top: -25%;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block border rounded-pill py-1 px-4">About Us</p>
                <h1 class="mb-4">Why You Should Trust Us? Get Know About Us!</h1>
                <p>At Ideal Glow, we are a leading Cosmetology and Trichology clinic dedicated to providing comprehensive solutions for skin care, hair-related problems, and beauty needs.</p>
                <p class="mb-4">Our team of experienced professionals is committed to helping you achieve your ideal look.                </p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Expert Dermatology Care</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Personalized Approach</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Comprehensive Services</p>
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid bg-primary overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="p-lg-5 ps-lg-0">
                    <p class="d-inline-block border rounded-pill text-light py-1 px-4">Features</p>
                    <h1 class="text-white mb-4">Why Choose Us</h1>
                    <p class="text-white mb-4 pb-2">Expertise, personal approach, comprehensive solutions. Exceptional results, tailored treatments. Boost confidence with our dedicated team for your skin and hair needs.</p>
                    <div class="row g-4">
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 35px; height: 35px;">
                                    <i class="fa fa-user-md text-primary"></i>
                                </div>
                                <div class="ms-2">
                                    <p class="text-white mb-1">Experience</p>
                                    <h6 class="text-white mb-0">Doctors</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 35px; height: 35px;">
                                    <i class="fa fa-check text-primary"></i>
                                </div>
                                <div class="ms-2">
                                    <p class="text-white mb-1">Quality</p>
                                    <h6 class="text-white mb-0">Services</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 35px; height: 35px;">
                                    <i class="fa fa-comment-medical text-primary"></i>
                                </div>
                                <div class="ms-2">
                                    <p class="text-white mb-1">Positive</p>
                                    <h6 class="text-white mb-0">Consultation</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 35px; height: 35px;">
                                    <i class="fa fa-headphones text-primary"></i>
                                </div>
                                <div class="ms-2">
                                    <p class="text-white mb-1">24 Hours</p>
                                    <h6 class="text-white mb-0">Support</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="assets/img/demo-img-3.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<app-treatments></app-treatments>