<!-- TEXT SECTION-->
<section class="py-3">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-3" id="sidebar-container">
                <!-- PAGE SIDEBAR-->
                <div id="sidebar-element">
                    <h3 class="h4 text-uppercase lined mb-4">Services</h3>
                    <nav class="nav flex-column nav-pills mb-4"><a
                            class="nav-link d-flex align-items-center justify-content-between text-sm "
                            routerLink="/services/skin">
                            <span>Skin</span><i class="fas fa-angle-right"></i></a><a
                            class="nav-link d-flex align-items-center justify-content-between text-sm "
                            routerLink="/services/hair">
                            <span>Hair</span><i class="fas fa-angle-right"></i></a><a
                            class="nav-link d-flex align-items-center justify-content-between text-sm "
                            routerLink="/services/laser">
                            <span>Laser</span><i class="fas fa-angle-right"></i></a>
                        <a class="nav-link d-flex align-items-center justify-content-between text-sm active"
                            routerLink="/services/semi">
                            <span>Semi Permanent</span><i class="fas fa-angle-right"></i></a>
                        <a class="nav-link d-flex align-items-center justify-content-between text-sm"
                            routerLink="/services/packages">
                            <span>Packages</span><i class="fas fa-angle-right"></i></a>
                    </nav>
                    <div class="banner"><a href="shop-category.html"><img class="img-fluid"
                                src="assets/img/clinic-process.jpg" alt="sales 2014"></a></div>
                </div>
            </div>

            <div class="col-lg-9 py-3">

                <h2 class="text-primary text-center">Semi Permanent Solutions</h2>

                <!--EYE LINER -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/semi-permanent-eyeliner.jpg" class="card-img fit-cover w-100 h-100"
                                alt="
                            semi-permanent-eyeliner img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Eye Liner</a>
                                </h5>
                                <p class="card-text">Define Your Eyes. Our expert application of permanent or
                                    semi-permanent eyeliner enhances your natural beauty, adding depth and allure to
                                    your eyes. </p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Lip Coloring -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/lip-coloring.jpeg" class="card-img fit-cover w-100 h-100" alt="
                            lip-coloring img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Lip Coloring</a>
                                </h5>
                                <p class="card-text">Embrace Luscious Lips. Our skillful application of permanent or
                                    semi-permanent lip color enhances your lips, adding vibrancy and definition to your
                                    smile.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Microblading Eyebrows -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/microblading-eyebrows.png" class="card-img fit-cover w-100 h-100" alt="
                            microblading-eyebrows img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Microblading Eyebrows</a>
                                </h5>
                                <p class="card-text">Define Your Beauty. Ideal Glow's precise technique creates
                                    natural-looking, long-lasting eyebrows that beautifully frame your face.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- OMBRE POWDER BROWS -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/ombre-eyebrows.jpg" class="card-img fit-cover w-100 h-100" alt="
                                ombre-eyebrows img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Ombre Powder Brows</a>
                                </h5>
                                <p class="card-text"> Effortlessly Defined. Our specialized technique delivers softly
                                    shaded, gradient eyebrows, enhancing your natural beauty with a seamless and
                                    long-lasting ombre effect.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Nano Blading -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/nanoblading.jpg" class="card-img fit-cover w-100 h-100" alt="
                            Carbon Laser Facial Treatment Img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Nano Blading</a>
                                </h5>
                                <p class="card-text"> Precision Redefined. Our advanced nano-blading technique creates
                                    ultra-fine, realistic hair strokes for natural-looking eyebrows that elevate your
                                    beauty with lasting results.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Microfeathering  -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/microfeathering.jpg" class="card-img fit-cover w-100 h-100" alt="
                            Microfeathering img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Microfeathering </a>
                                </h5>
                                <p class="card-text">Natural, Defined Brows. Our expert technique creates realistic
                                    hair-like strokes, resulting in beautifully enhanced and perfectly shaped eyebrows.
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- BB GLOW TREATMENT -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/bb-glow.jpg" class="card-img fit-cover w-100 h-100" alt="
                            bb-glow img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">BB Glow
                                        Treatment</a>
                                </h5>
                                <p class="card-text">Flawless Radiance. BB Glow procedure enhances your
                                    skin tone, minimizes imperfections, and delivers a radiant, "no-makeup" look that
                                    lasts. Experience glowing, flawless skin at Ideal Glow.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- SCALP MICROPIGMENTATION -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/scalp-micropigmentation.jpg" class="card-img fit-cover w-100 h-100"
                                alt="
                            bb-glow img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Scalp
                                        Micropigmentation</a>
                                </h5>
                                <p class="card-text">Restore Your Confidence. Our specialized technique replicates the
                                    appearance of real hair follicles, giving you the illusion of a fuller,
                                    natural-looking head of hair.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SKIN MICROPIGMENTATION -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/skin-micropigmentation.jpg" class="card-img fit-cover w-100 h-100" alt="
                                skin-micropigmentation img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Skin
                                        Micropigmentation</a>
                                </h5>
                                <p class="card-text">Precise technique camouflages
                                    imperfections, scars, and discolorations, leaving you with a smooth and
                                    flawless-looking complexion. Discover the transformative power of skin
                                    micropigmentation at Ideal Glow.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>