<section class="">
    <div class="container">
      <div class="card shadow-lg bg-primary text-white with-pattern-full">
        <div class="card-body p-lg-5">
          <div class="row py-4 gy-4">
            <div class="col-lg-4">
              <div class="d-flex">
                <div class="icon-block bg-white flex-shrink-0">
                  <svg class="svg-icon text-primary svg-icon-sm">
                    <use xlink:href="#stack-1"> </use>
                  </svg>
                </div>
                <div class="ms-3">
                  <h5 class="mb-2">Skin Care Solutions</h5>
                  <p class="text-sm">Your Radiant Skin Solution for Healthy, Glowing Beauty.</p>
                  <ul class="list-check list-check-white mb-0 text-sm fw-normal">
                    <li class="mb-1">Acne treatment and prevention</li>
                    <li class="mb-1">Dermatitis and eczema management</li>
                    <li class="mb-1">Scar reduction and removal</li>
                    <li class="mb-1">Skin brightening and rejuvenation</li>
                    <li class="mb-1">Customized skincare regimens</li>

                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="d-flex">
                <div class="icon-block bg-white flex-shrink-0">
                  <svg class="svg-icon text-primary svg-icon-sm">
                    <use xlink:href="#quality-1"> </use>
                  </svg>
                </div>
                <div class="ms-3">
                  <h5 class="mb-2">Hair Restoration</h5>
                  <p class="text-sm">Rediscover Hair Confidence with Expert Restoration Solutions.</p>
                  <ul class="list-check list-check-white mb-0 text-sm fw-normal">
                    <li class="mb-1">Hair loss evaluation and diagnosis</li>
                    <li class="mb-1">Hair transplantation and restoration techniques</li>
                    <li class="mb-1">Scalp treatments and therapies</li>
                    <li class="mb-1">Prescription and over-the-counter hair growth products</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="d-flex">
                <div class="icon-block bg-white flex-shrink-0">
                  <svg class="svg-icon text-primary svg-icon-sm">
                    <use xlink:href="#configuration-1"> </use>
                  </svg>
                </div>
                <div class="ms-3">
                  <h5 class="mb-2">Beauty Enhancements</h5>
                  <p class="text-sm">Enhance Your Beauty with Expert Solutions and Techniques.</p>
                  <ul class="list-check list-check-white mb-0 text-sm fw-normal">
                    <li class="mb-1">Non-surgical facelifts and skin tightening</li>
                    <li class="mb-1">Botox and dermal fillers</li>
                    <li class="mb-1">Chemical peels and microdermabrasion</li>
                    <li class="mb-1">Permanent makeup application</li>
                    <li class="mb-1">Eyelash extensions</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>