<!-- TEXT SECTION-->
<section class="py-3">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-3" id="sidebar-container"><!-- PAGE SIDEBAR-->
                <div id="sidebar-element">
                    <h3 class="h4 text-uppercase lined mb-4">Services</h3>
                    <nav class="nav flex-column nav-pills mb-4"><a
                            class="nav-link d-flex align-items-center justify-content-between text-sm active"
                            routerLink="/services/skin">
                            <span>Skin</span><i class="fas fa-angle-right"></i></a><a
                            class="nav-link d-flex align-items-center justify-content-between text-sm "
                            routerLink="/services/hair">
                            <span>Hair</span><i class="fas fa-angle-right"></i></a><a
                            class="nav-link d-flex align-items-center justify-content-between text-sm "
                            routerLink="/services/laser">
                            <span>Laser</span><i class="fas fa-angle-right"></i></a>
                        <a class="nav-link d-flex align-items-center justify-content-between text-sm"
                            routerLink="/services/semi">
                            <span>Semi Permanent</span><i class="fas fa-angle-right"></i></a>
                        <a class="nav-link d-flex align-items-center justify-content-between text-sm"
                            routerLink="/services/packages">
                            <span>Packages</span><i class="fas fa-angle-right"></i></a>
                    </nav>
                    <div class="banner"><a href="shop-category.html"><img class="img-fluid"
                                src="assets/img/clinic-process.jpg" alt="sales 2014"></a></div>
                </div>
            </div>
            <div class="col-lg-9 py-3">
                <h2 class="text-primary text-center">Skin Treatments</h2>

                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/acne.jpg" class="card-img fit-cover w-100 h-100" alt="...">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Acne
                                        Treatment</a>
                                </h5>
                                <p class="card-text">Acne Treatment: Clear, blemish-free skin is within reach. Our
                                    personalized solutions combat acne and restore your skin's natural balance. </p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> </div>
                                        <!-- <fa-icon  [icon]="rupee"></fa-icon>  -->
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Pigmentation Treatment -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/pigmentation-treatment.jpg" class="card-img fit-cover w-100 h-100"
                                alt="...">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Pigmentation
                                        Treatment</a>
                                </h5>

                                <p class="card-text">Pigmentation Treatment: Reveal your natural radiance. Our advanced
                                    solutions target and reduce pigmentation issues, leaving you with a more even and
                                    glowing complexion.</p>

                            </div>

                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Acne Scar Treatment -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/acne-scar.jpg" class="card-img fit-cover w-100 h-100" alt="...">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Acne Scar
                                        Treatment</a>
                                </h5>
                                <p class="card-text">Acne Scar Treatment: Restore Smooth Skin. Our specialized
                                    treatments target acne scars, reducing their appearance and restoring a smoother,
                                    more even complexion.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> </div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mole and Wart Removal -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/mole-removal.jpg" class="card-img fit-cover w-100 h-100" alt="...">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Mole and Wart
                                        Removal</a>
                                </h5>
                                <p class="card-text">Mole and Wart Removal: Unveil Clear Skin. Our expert procedures
                                    safely and effectively remove moles and warts, giving you smoother, blemish-free
                                    skin you'll love.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 500.00</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Anti Age Treatment -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/anti-aging.jpg" class="card-img fit-cover w-100 h-100" alt="...">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Anti-Aging
                                        Treatment</a>
                                </h5>
                                <p class="card-text">Turn back the hands of time. Our innovative therapies target signs
                                    of aging, promoting youthful skin and restoring a more radiant, rejuvenated
                                    appearance.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Hydra Facial -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/hydra-facial.jpg" class="card-img fit-cover w-100 h-100" alt="...">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Hydra Facial</a>
                                </h5>
                                <p class="card-text">Hydrate and Refresh. Experience the ultimate facial rejuvenation
                                    with our HydraFacial treatment, providing deep cleansing, hydration, and a radiant
                                    glow to your skin.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 2000.00</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Chemical Peel -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/chemical-peel.jpg" class="card-img fit-cover w-100 h-100" alt="...">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Chemical Peel</a>
                                </h5>
                                <p class="card-text">Renew Your Skin. Our chemical peel treatments effectively exfoliate
                                    and rejuvenate the skin, revealing a smoother, brighter complexion and reducing
                                    signs of aging.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 1500.00</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Fine-Lines-Wrinkles -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/Fine-Lines-Wrinkles.jpg" class="card-img fit-cover w-100 h-100"
                                alt="Fine-Lines-Wrinkles img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Wrinkles & Fine
                                        Lines</a>
                                </h5>
                                <p class="card-text">Smooth Away the Years. Our specialized treatments target wrinkles
                                    and fine lines, helping to restore a more youthful and vibrant appearance to your
                                    skin.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Medifacial -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/medifacial.jpg" class="card-img fit-cover w-100 h-100"
                                alt="Fine-Lines-Wrinkles img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Medi-Facial
                                        Treatments</a>
                                </h5>
                                <p class="card-text">Enhance Skin Health. Our expert treatments blend medical expertise
                                    and luxury for rejuvenated, radiant skin.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 2000.00</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Full Body Whitening -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/full-body-whitening.jpg" class="card-img fit-cover w-100 h-100"
                                alt="Fine-Lines-Wrinkles img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Full Body
                                        Whitening</a>
                                </h5>
                                <p class="card-text">Illuminate Your Skin. Our comprehensive treatment targets uneven
                                    skin tone, promoting a brighter, more uniform complexion for your entire body.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 8000.00</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- SKIN TIGHTENING -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/skin-tightening.jpg" class="card-img fit-cover w-100 h-100"
                                alt="Fine-Lines-Wrinkles img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Skin
                                        Tightening</a>
                                </h5>
                                <p class="card-text">Firm and Lift. Our specialized treatments stimulate collagen
                                    production, tightening and rejuvenating the skin for a more youthful and toned
                                    appearance.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 2000.00</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SKIN REJUVENATION TREATMENT -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/skin-rejuanation.jpg" class="card-img fit-cover w-100 h-100"
                                alt="Fine-Lines-Wrinkles img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Skin Rejuvenation
                                        Treatment</a>
                                </h5>
                                <p class="card-text">Restore Your Glow. Our tailored treatments target dullness, uneven
                                    texture, and signs of aging, revitalizing your skin for a youthful, radiant
                                    complexion.
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 6000.00</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Micro-Needling Treatment -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/microneedling.jpg" class="card-img fit-cover w-100 h-100"
                                alt="Fine-Lines-Wrinkles img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Micro-Needling
                                        Treatment</a>
                                </h5>
                                <p class="card-text">Renew and Revitalize. Our minimally invasive procedure stimulates
                                    collagen production, improving skin texture, reducing scars, and promoting a fresh,
                                    rejuvenated complexion.
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 3000.00</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Botox Treatment -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/botox.jpg" class="card-img fit-cover w-100 h-100"
                                alt="botox treatment img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Micro-Needling
                                        Treatment</a>
                                </h5>
                                <p class="card-text">Smooth Away Wrinkles. Our expertly administered Botox injections
                                    effectively reduce the appearance of fine lines and wrinkles, revealing a more
                                    youthful and refreshed look.
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Threads Treatment -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/threads-treatment.jpg" class="card-img fit-cover w-100 h-100"
                                alt="thread treatment img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Threads Treatment</a>
                                </h5>
                                <p class="card-text">Lift and Rejuvenate. Our non-surgical thread lift procedure
                                    provides a subtle lift to sagging skin, promoting a more youthful and revitalized
                                    appearance.
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Fillers Treatment-->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/dermal-filler.jpg" class="card-img fit-cover w-100 h-100"
                                alt="dermal filler img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Fillers Treatment</a>
                                </h5>
                                <p class="card-text"> Restore Volume and Youthfulness. Our carefully administered dermal
                                    fillers replenish lost volume, smooth out wrinkles, and enhance facial contours for
                                    a naturally rejuvenated look.
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> </div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Microdermabrasion Facial Peel-->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/microdermabrasion.jpeg" class="card-img fit-cover w-100 h-100"
                                alt="dermal filler img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Microdermabrasion Facial Peel</a>
                                </h5>
                                <p class="card-text"> Reveal Radiant Skin. Our combined treatment exfoliates and
                                    revitalizes the skin, reducing imperfections and leaving you with a smoother, more
                                    youthful complexion.
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 1500.00</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>