<!-- HERO SECTION-->
<section class="hero hero-home with-pattern d-flex align-items-center py-5">
  <div class="container py-5 mt-5">
    <div class="row align-items-center">
      <div class="col-md-6 mb-5 mb-md-0">
        <h2 class="mb-3">
          Unleash Your Inner Radiance, Embrace
          <span class="text-primary">Ideal Glow! </span>
        </h2>
        <p class="text-muted">
          Welcome to Ideal Glow, your ultimate destination for flawless skin and
          vibrant hair. Discover personalized treatments and expert guidance to
          unlock your natural radiance and embrace the beauty that defines you.
        </p>
        <a
          class="video-btn d-flex align-items-center"
          href="#!"
          data-video-id="B6uuIHpFkuo"
          >
          <!-- <span class="video-btn-icon"><i class="fas fa-play"></i></span> -->
          <div class="ms-3">
            <!-- <span class="text-muted d-block line-height-sm">Watch</span>
            <strong class="text-uppercase text-dark">Intro Video</strong> -->
          </div></a
        >
      </div>
      <div class="col-md-5 ml-auto">
        <div class="img-gradient img-gradient-right">
          <img
            class="img-fluid shadow rounded"
            src="assets/img/img-dr-sangam.jpg"
            alt="img dr. sangam"
          />
        </div>
      </div>
    </div>
  </div>
</section>
