<!-- PACKAGES VERSION 3 SECTION-->
<section class="py-5">
    <div class="container pb-4">
      <h3 class="text-uppercase text-center lined mb-4">Packages</h3>
      <div class="row align-items-center gy-4">
        <!-- PACKAGE ITEM-->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header py-5 border-0 text-center">
              <h4 class="mb-3 text-uppercase">Hair Treatment</h4>
              <h4 class="h1 mb-0">26,250</h4><span class="text-md text-gray-600">Price 37500</span>
            </div>
            <div class="card-body px-4 px-xl-5 text-center py-3">
              <ul class="list-unstyled d-inline-block">
                <li class="d-flex align-items-center justify-content-start py-2 text-md">
                  <div class="icon-filled icon-filled-sm me-2"><i class="fas fa-check"></i></div><span class="py-1">Anti-Dandruff Treatment</span>
                </li>
                <li class="d-flex align-items-center justify-content-start py-2 text-md">
                  <div class="icon-filled icon-filled-sm me-2"><i class="fas fa-check"></i></div><span class="py-1">Hair PRP</span>
                </li>
                <li class="d-flex align-items-center justify-content-start py-2 text-md">
                  <div class="icon-filled icon-filled-sm me-2"><i class="fas fa-check"></i></div><span class="py-1">GFCs PRP</span>
                </li>
                <li class="d-flex align-items-center justify-content-start py-2 text-sm">
                  <!-- <div class="icon-filled icon-filled-sm me-2 bg-gray-400 text-muted"><i class="fas fa-times"></i></div><span class="py-1 text-muted"></span> -->
                </li>
                <li class="d-flex align-items-center justify-content-start py-2 text-sm">
                  <!-- <div class="icon-filled icon-filled-sm me-2 bg-gray-400 text-muted"><i class="fas fa-times"></i></div><span class="py-1 text-muted"></span> -->
                </li>
              </ul><a class="btn btn-outline-primary w-100 mb-3" href="#">Signup</a>
            </div>
          </div>
        </div>
        <!-- PACKAGE ITEM-->
        <div class="col-md-4">
          <div class="card border-primary">
            <div class="card-header py-5 border-0 text-center bg-primary text-white"><small>Best value</small>
              <h4 class="mb-3 text-uppercase">Premium</h4>
              <h4 class="h1 mb-0">$53</h4><span class="text-sm">/month</span>
            </div>
            <div class="card-body px-4 px-xl-5 text-center py-4">
              <ul class="list-unstyled d-inline-block">
                <li class="d-flex align-items-center justify-content-start py-2 text-sm">
                  <div class="icon-filled icon-filled-sm me-2"><i class="fas fa-check"></i></div><span class="py-1">100GB Storage</span>
                </li>
                <li class="d-flex align-items-center justify-content-start py-2 text-sm">
                  <div class="icon-filled icon-filled-sm me-2"><i class="fas fa-check"></i></div><span class="py-1">Own config file</span>
                </li>
                <li class="d-flex align-items-center justify-content-start py-2 text-sm">
                  <div class="icon-filled icon-filled-sm me-2"><i class="fas fa-check"></i></div><span class="py-1">Sharing Tools</span>
                </li>
                <li class="d-flex align-items-center justify-content-start py-2 text-sm">
                  <div class="icon-filled icon-filled-sm me-2"><i class="fas fa-check"></i></div><span class="py-1">Auto Backup</span>
                </li>
                <li class="d-flex align-items-center justify-content-start py-2 text-sm">
                  <div class="icon-filled icon-filled-sm me-2"><i class="fas fa-check"></i></div><span class="py-1">Extended Security</span>
                </li>
              </ul><a class="btn btn-primary w-100 mb-3" href="#">Signup</a>
            </div>
          </div>
        </div>
        <!-- PACKAGE ITEM-->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header py-5 border-0 text-center">
              <h4 class="mb-3 text-uppercase">Altimate</h4>
              <h4 class="h1 mb-0">$99</h4><span class="text-sm text-gray-600">/month</span>
            </div>
            <div class="card-body px-4 px-xl-5 text-center py-3">
              <ul class="list-unstyled d-inline-block">
                <li class="d-flex align-items-center justify-content-start py-2 text-sm">
                  <div class="icon-filled icon-filled-sm me-2"><i class="fas fa-check"></i></div><span class="py-1">100GB Storage</span>
                </li>
                <li class="d-flex align-items-center justify-content-start py-2 text-sm">
                  <div class="icon-filled icon-filled-sm me-2"><i class="fas fa-check"></i></div><span class="py-1">Own config file</span>
                </li>
                <li class="d-flex align-items-center justify-content-start py-2 text-sm">
                  <div class="icon-filled icon-filled-sm me-2 bg-gray-400 text-muted"><i class="fas fa-times"></i></div><span class="py-1 text-muted">Sharing Tools</span>
                </li>
                <li class="d-flex align-items-center justify-content-start py-2 text-sm">
                  <div class="icon-filled icon-filled-sm me-2 bg-gray-400 text-muted"><i class="fas fa-times"></i></div><span class="py-1 text-muted">Auto Backup</span>
                </li>
                <li class="d-flex align-items-center justify-content-start py-2 text-sm">
                  <div class="icon-filled icon-filled-sm me-2 bg-gray-400 text-muted"><i class="fas fa-times"></i></div><span class="py-1 text-muted">Extended Security</span>
                </li>
              </ul><a class="btn btn-outline-primary w-100 mb-3" href="#">Signup</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>