<!-- TEXT SECTION-->
<section class="py-3">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-3" id="sidebar-container">
                <!-- PAGE SIDEBAR-->
                <div id="sidebar-element">
                    <h3 class="h4 text-uppercase lined mb-4">Services</h3>
                    <nav class="nav flex-column nav-pills mb-4"><a
                            class="nav-link d-flex align-items-center justify-content-between text-sm "
                            routerLink="/services/skin">
                            <span>Skin</span><i class="fas fa-angle-right"></i></a><a
                            class="nav-link d-flex align-items-center justify-content-between text-sm "
                            routerLink="/services/hair">
                            <span>Hair</span><i class="fas fa-angle-right"></i></a><a
                            class="nav-link d-flex align-items-center justify-content-between text-sm active "
                            routerLink="/services/laser">
                            <span>Laser</span><i class="fas fa-angle-right"></i></a>
                        <a class="nav-link d-flex align-items-center justify-content-between text-sm"
                            routerLink="/services/semi">
                            <span>Semi Permanent</span><i class="fas fa-angle-right"></i></a>
                        <a class="nav-link d-flex align-items-center justify-content-between text-sm"
                            routerLink="/services/packages">
                            <span>Packages</span><i class="fas fa-angle-right"></i></a>
                    </nav>
                    <div class="banner"><a href="shop-category.html"><img class="img-fluid"
                                src="assets/img/clinic-process.jpg" alt="sales 2014"></a></div>
                </div>
            </div>

            <div class="col-lg-9 py-3">

                <h2 class="text-primary text-center">Laser Solutions</h2>

                <!-- LASER HAIR REDUCTION -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/laser-hair-reduction.jpg" class="card-img fit-cover w-100 h-100" alt="
                            Laser Hair Reduction Img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Laser Hair Reduction</a>
                                </h5>
                                <p class="card-text"> Embrace Smooth Skin. Our advanced laser technology targets
                                    unwanted hair, providing long-lasting reduction and helping you achieve silky-smooth
                                    skin. </p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center">
                                        <fa-icon
                                            [icon]="rupee"></fa-icon> 1000 - 40000
                                    </div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TATTOO REMOVAL -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/tatto-removal.jpg" class="card-img fit-cover w-100 h-100" alt="
                            Laser Tatto Removal Img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Tattoo Removal</a>
                                </h5>
                                <p class="card-text"> Erase the Past. Our laser-based tattoo removal treatments safely
                                    and effectively fade or eliminate unwanted tattoos, allowing you to start anew with
                                    confidence.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 1000.00 / Inch</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Laser Toning Treatment -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/laser-toning-treatment.jpg" class="card-img fit-cover w-100 h-100" alt="
                            Laser Toning Img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Laser Toning Treatment</a>
                                </h5>
                                <p class="card-text"> Illuminate Your Skin. Our specialized laser therapy targets
                                    pigmentation irregularities, promoting a more even complexion and a radiant, glowing
                                    skin tone.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 5000.00</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FRECKLES LASER TREATMENT -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/freckles-laster-treatment.jpg" class="card-img fit-cover w-100 h-100"
                                alt="
                            Freckles Laser Treatment Img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">

                                        Freckles Laser Treatment</a>
                                </h5>
                                <p class="card-text"> Embrace Clear Complexion. Our advanced laser technology precisely
                                    targets and reduces freckles, giving you a more even and flawless skin tone.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 2000 - 7000</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CARBON LASER FACIAL -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/carbon-laser-facial.jpg" class="card-img fit-cover w-100 h-100" alt="
                            Carbon Laser Facial Treatment Img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Carbon Laser Facial</a>
                                </h5>
                                <p class="card-text"> Reveal Luminous Skin. Our innovative treatment utilizes carbon and
                                    laser technology to deeply cleanse, exfoliate, and rejuvenate your skin for a
                                    glowing complexion.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 5000.00</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Q.SWITCH LASER -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/q-switch.jpeg" class="card-img fit-cover w-100 h-100" alt="
                           Q-switch Treatment Img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        Q-Switch Laser</a>
                                </h5>
                                <p class="card-text"> Renew Your Skin. With Ideal Glow's Q-switch laser
                                    technology effectively targets pigmentation, tattoos, and skin imperfections,
                                    revealing a revitalized and clearer complexion.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 4000.00</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- RF TREATMENT -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/rf-treatment.jpg" class="card-img fit-cover w-100 h-100" alt="
                           rf-treatment img">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">
                                        RF Treatment</a>
                                </h5>
                                <p class="card-text">Revitalize Your Skin. Ideal GLow's RF (Radio Frequency) therapy stimulates collagen production, tightens skin, and improves texture, resulting in a firmer, more youthful appearance.</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"> <fa-icon
                                            [icon]="rupee"></fa-icon> 1500.00</div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>