<!-- TEXT SECTION-->
<section class="py-3">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-3" id="sidebar-container">
                <!-- PAGE SIDEBAR-->
                <div id="sidebar-element">

                
                <h3 class="h4 text-uppercase lined mb-4">Services</h3>
                <nav class="nav flex-column nav-pills mb-4">
                    <a class="nav-link d-flex align-items-center justify-content-between text-sm"
                        routerLink="/services/skin">
                        <span>Skin</span><i class="fas fa-angle-right"></i></a><a
                        class="nav-link d-flex align-items-center justify-content-between text-sm active"
                        routerLink="/services/hair">
                        <span>Hair</span><i class="fas fa-angle-right"></i></a><a
                        class="nav-link d-flex align-items-center justify-content-between text-sm"
                        routerLink="/services/laser">
                        <span>Laser</span><i class="fas fa-angle-right"></i></a>
                    <a class="nav-link d-flex align-items-center justify-content-between text-sm"
                        routerLink="/services/semi">
                        <span>Semi Permanent</span><i class="fas fa-angle-right"></i></a>
                    <a class="nav-link d-flex align-items-center justify-content-between text-sm"
                        routerLink="/services/packages">
                        <span>Packages</span><i class="fas fa-angle-right"></i></a>
                </nav>
                <div class="banner">
                    <a href="shop-category.html"><img class="img-fluid" src="assets/img/clinic-process.jpg"
                            alt="sales 2014" /></a>
                </div>
            </div>
</div>
            <div class="col-lg-9 py-3">
                <h2 class="text-primary text-center ">Hair Treatments</h2>

                <!-- PRP -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/prp-treatment.jpg" class="card-img fit-cover w-100 h-100" alt="..." />
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">PRP</a>
                                </h5>

                                <p class="card-text">
                                    PRP (Platelet-Rich Plasma): Harness the power of your own
                                    blood. PRP therapy promotes healing, rejuvenation, and natural
                                    tissue regeneration for various aesthetic and medical
                                    concerns.
                                </p>
                            </div>

                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MESO THERAPY -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/meso-therapy.jpg" class="card-img fit-cover w-100 h-100" alt="..." />
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Meso Threapy</a>
                                </h5>

                                <p class="card-text">
                                    Meso Therapy: Revitalize your skin from within. This minimally invasive procedure
                                    delivers a cocktail of nutrients, vitamins, and antioxidants for
                                    hydration, and improved skin texture.
                                </p>
                            </div>

                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Hair Loss Treatment -->
                <div class="card">
                    <div class="row g-0">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/img/hair-loss.jpg" class="card-img fit-cover w-100 h-100" alt="..." />
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="link-dark text-decoration-none" href="#" target="_blank">Hair Loss
                                        Treatment</a>
                                </h5>
                                <p class="card-text">
                                    Hair Loss Treatment: Restore your crowning glory. Our personalized solutions address
                                    the root causes of hair loss, promoting regrowth and revitalizing your confidence.
                                </p>
                            </div>

                            <div class="card-footer text-muted">
                                <div class="btn-wrapper text-center d-flex justify-content-between">
                                    <div class="text-white d-flex align-items-center"></div>
                                    <a class="btn btn-dark" data-bs-target="#quoteForm" data-bs-toggle="modal">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>