 <!-- Service Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded-pill py-1 px-4">Services</p>
            <h1>Skin, Hair, Beauty & more</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">

                    <h4 class="mb-3">Skin</h4>
                    <p class="mb-4"> Expert skin care for radiant results. Discover your best skin with our personalized solutions and get your Ideal Glow.

                    </p>
                    <a class="btn btn-outline-primary" routerLink="services/skin"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <h4 class="mb-3">Hair</h4>
                    <p class="mb-4">Transformative hair solutions for confidence and vitality. Trust our expertise to restore your hair's luster.</p>
                    <a class="btn btn-outline-primary" routerLink="services/hair"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <h4 class="mb-3">Laser</h4>
                    <p class="mb-4">Advanced laser treatments for skin and hair. Experience effective and lasting results with our cutting-edge technology.</p>
                    <a class="btn btn-outline-primary" routerLink="services/laser"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <h4 class="mb-3">Semi Permanent</h4>
                    <p class="mb-4">Enhance your beauty with semi-permanent treatments. Enjoy long-lasting, natural-looking results for your confidence boost.</p>
                    <a class="btn btn-outline-primary" routerLink="services/semi"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Service End -->