<!-- PAGE SIDEBAR-->

<h3 class="h4 text-uppercase lined mb-4">Services</h3>
<nav class="nav flex-column nav-pills mb-4"><a
        class="nav-link d-flex align-items-center justify-content-between text-sm " routerLink="/services/skin">
        <span>Skin</span><i class="fas fa-angle-right"></i></a><a
        class="nav-link d-flex align-items-center justify-content-between text-sm active" routerLink="/services/hair">
        <span>Hair</span><i class="fas fa-angle-right"></i></a><a
        class="nav-link d-flex align-items-center justify-content-between text-sm" routerLink="/services/laser">
        <span>Laser</span><i class="fas fa-angle-right"></i></a>
    <a class="nav-link d-flex align-items-center justify-content-between text-sm" routerLink="/services/semi">
        <span>Semi Permanent</span><i class="fas fa-angle-right"></i></a>
    <a class="nav-link d-flex align-items-center justify-content-between text-sm" routerLink="/services/packages">
        <span>Packages</span><i class="fas fa-angle-right"></i></a>
</nav>
<div class="banner"><a href="shop-category.html"><img class="img-fluid" src="assets/img/clinic-process.jpg"
            alt="sales 2014"></a></div>